#dropdown-button {
  background-color: rgb(232, 54, 40);
  border-color: rgb(232, 54, 40);
}

.fontIcon {
  height: 25px;
  width: 25px;
  right: 35px;
  cursor: pointer;
}

.fixed-btm {
  position: fixed;
  right: 30;
  bottom: 0;
  z-index: 1030;
}
