#dropdown-button {
  background-color: rgb(232, 54, 40);
  border-color: rgb(232, 54, 40);
}

.fontIcon {
  height: 45px;
  font-size: 30px;
  width: 45px;
  right: 45px;
  cursor: pointer;
  color: rgb(232, 54, 40);
}

.fixed-btm {
  position: fixed;
  right: 30;
  bottom: 10px;
  z-index: 1030;
}

.bounce {
  animation: bounce 2s;
  -webkit-animation: bounce 2s;
  -moz-animation: bounce 2s;
  -o-animation: bounce 2s;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}

@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
  }
}

@-o-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -o-transform: translateY(0);
  }
  40% {
    -o-transform: translateY(-30px);
  }
  60% {
    -o-transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
