.input {
  width: 400px;
  padding: 14px 30px;
  border-radius: 50px;
  outline: none;
  font-size: 18px;
}
.searchBox {
  position: relative;
  text-align: center;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: Roboto;
  text-transform: uppercase;
}

.close-btn {
  right: 117px;
  position: absolutegi;
  cursor: pointer;
  color: #ffffff;
  background: #000000;
  border: 0px;
  width: 120px;
  height: 55px;
  border-radius: 50px;
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
}
