.input {
  width: 35%;
  padding: 14px 15px;
  border-radius: 50px;
  outline: none;
  font-size: 0.9rem;
}
.searchBox {
  text-align: center;
  min-width: 100%;
  position: relative;
  width: 100%;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: Roboto;
  text-transform: uppercase;
}

.close-btn {
  display: none;
  right: 32.4%;
  top: 4%;
  position: absolute;
  cursor: pointer;
  color: #ffffff;
  background: #000000;
  border: 0px;
  width: 120px;
  height: calc(100% - 4px);
  border-radius: 50px;
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
}

@media only screen and (min-width: 968px) {
  /* For desktop: */
  .close-btn {
    display: block;
  }
}
