.input {
  width: 400px;
  padding: 14px 30px;
  border-radius: 50px;
  outline: none;
  font-size: 18px;
}
.searchBox {
  text-align: center;
  width: 1080px;
  position: relative;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: Roboto;
  text-transform: uppercase;
}

.close-btn {
  left:620px;
  top: 2px;
  position: absolute;
  cursor: pointer;
  color: #ffffff;
  background: #000000;
  border: 0px;
  width: 120px;
  height: calc(100% - 4px);
  border-radius: 50px;
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
}

/* @media only screen and (min-width: 600px) {
  .close-btn {
    left: 349px;
  }
}
@media only screen and (min-width: 768px) {
  .close-btn {
    left: 439px;
  }
}
@media only screen and (min-width: 992px) {
  .close-btn {
    left: 559px;
  }
}

@media only screen and (min-width: 1200px) {
  .close-btn {
    left: 593px;
  }
} */
